body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    height: 60px;
    width: 100%;
    background: #14597f;
    border-bottom: #0b2d3d 1px solid;
}

footer {
    height: 70px;
    width: 100%;
    text-align: center;
    background: #eeeeee;
    border-top: #cccccc 1px solid;
}

footer p {
    line-height: 70px;
    padding: 0;
    margin: 0;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 10px;
}

nav ul li {
    display: inline;
    position: relative;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.fa-shopping-cart {
    color: #14597f;
}

a.active {
    background: #1fb5e9;
    border-radius: 4px;
}

.count {
    position: absolute;
    display: inline-block;
    background: #d9534f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    right: -7px;
    bottom: -18px;
}

.logo {
    height: 60px;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main.content {
    min-height: calc(100% - 60px);
    margin-bottom: -70px !important;
}

.shopping-card {
    width: 100%;
    border-spacing: 0 10px;
    border-bottom: 1px solid #000;
}

tr.shopping-card-header th {
    border-bottom: 1pt solid black;
}

.shopping-card-header {
    text-align: left;
}

.remove-button-col {
    width: 30px;
}

.round-button {
    background-color: #dddddd;
    border-radius: 50%;
    border: none;
    text-align: center;
    width: 25px;
    height: 25px;
}

.round-button:hover {
    background-color: #bbbbbb;
}

.minus-button {
    margin-right: 15px;
}

.plus-button {
    margin-left: 15px;
}

.align-right {
    text-align: right;
}

.shopping-card-total {
    float: right;
}

.shopping-card-buttons {
    padding-top: 100px;
}

.command-button {
    float: right;
    background-color: #14597f;
    border: 1px solid transparent;
    color: white;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.clear-button {
    background-color: #14597f;
    border: 1px solid transparent;
    color: white;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.product-link {
    text-decoration: none;
    color: #14597f;
}
