body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    height: 60px;
    width: 100%;
    background: #14597f;
    border-bottom: #0b2d3d 1px solid;
}

footer {
    height: 70px;
    width: 100%;
    text-align: center;
    background: #eeeeee;
    border-top: #cccccc 1px solid;
}

footer p {
    line-height: 70px;
    padding: 0;
    margin: 0;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 10px;
}

nav ul li {
    display: inline;
    position: relative;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.fa-shopping-cart {
    color: #14597f;
}

a.active {
    background: #1fb5e9;
    border-radius: 4px;
}

.count {
    position: absolute;
    display: inline-block;
    background: #d9534f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    right: -7px;
    bottom: -18px;
}

.logo {
    height: 60px;
}

.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main.content {
    padding-top: 25px;
    min-height: calc(100% - 60px);
    margin-bottom: -70px !important;
}

main > article {
    padding: 20px 0;
}

#home-img {
    float: right;
    width: 50%;
    display: inline-block;
}

.btn {
    background: #14597f;
    border: 1px solid #0b2d3d;
    border-radius: 4px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: #1fb5e9;
    transition: background-color ease-out 0.2s;
}

.d-flex {
    display: flex;
    width: 100%;
}

.flex-row {
    flex-direction: row;
}

.float-right {
    float: right;
}

#products-sidebar {
    flex: 0 0 25%;
    padding-right: 15px;
}

.btn-group button {
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    text-align: left;
    font-size: 14px
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:first-child {
    border-radius: 4px 4px 0 0;
}

.btn-group button:last-child {
    border-radius: 0 0 4px 4px;
}

#product-criteria, #product-categories {
    margin: 10px 0;
}

#product-criteria button,
#product-categories button {
    width: 100%;
    border: #999999 1px solid;
}

#product-criteria button:hover,
#product-categories button:hover {
    background-color: #f3f3f3;
    transition: background-color ease-out 0.2s;
}

#product-criteria button.selected,
#product-categories button.selected {
    background-color: #ddf2fb
}

#products {
    flex: 1;
    position: relative;
}

.product-count {
    position: absolute;
    top: 0;
    right: 0;
}

#products-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#products-list a {
    position: relative;
    grid-column: span 1;
    border: #999999 solid 1px;
    border-radius: 4px;
    transition: background-color ease-out 0.2s;
    padding: 10px;
    padding-bottom: 25px;
    text-decoration: none;
    color: black;
}

#products-list > a > p {
    position: absolute;
    bottom: 0;
    right: 10px;
}

#products-list a:hover {
    background-color: #f3f3f3;
}

.product-image {
    width: 100%;
}
